.aboutme_photo {
  margin-bottom: 50px;
  text-align: center;
}

.aboutme_photo img {
  width: 225px;
  height: 225px;
  border: 7px solid var(--color-six);
}

.aboutme_photo h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}